.AppBar {
  /* maybe add a gradient */
  background: blueviolet; 
  color: white;
}

/* .NavBtn {
  color: black;
  margin: 1;
  border-radius: 10;
} */

.NavBox {
  display: flex;
  margin-left: auto ;
}

.Tabs {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* .Welcome {
  width: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px #ccc;
  padding: 3;
  margin:auto;
  margin-top: 5;
  border-radius: 5;
} */

/* .Welcome {
  color: green;
} */